:root {
  --primary-color: #2e3a59;        /* Dark Blue */
  --primary-color-hover: #1f2b44;  /* Hover version */
  
  --secondary-color: #3498db;      /* Blue */
  --terciary-color: #f1f1f1;       /* Light Gray */

  --main-text-color: #333333;      /* Dark Text */

  --accent-color: #e74c3c;         /* Red */
  --accent-color-hover: #c0392b;   /* Darker Red */

  --bg-color: #f9f9f9;             /* Light Background */
  --progress-bar-color: #27ae60;   /* Green */
}


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter Variable', sans-serif;
  background-color: var(--bg-color);
}
