:root {
  --primary-color: #2E3A59; /* Dark Blue */
  --secondary-color: #3498DB; /* Blue */
  --terciary-color: #F1F1F1; /* Light Gray */

  --main-text-color: #333333; /* Dark Text */

  --accent-color: #E74C3C ; /* Red */
  --bg-color: #F9F9F9; /* Light Background */
  --progress-bar-color: #27AE60; /* Green */
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
