.book-list {
  padding: 1rem;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book-list__header {
  text-align: center;
  margin-bottom: 1rem;
}

.book-list__title {
  font-size: 2rem;
  color: var(--primary-color);
  margin-bottom: 0.5rem;
}

.book-list__count {
  color: var(--main-text-color);
  font-size: 1rem;
}

.book-list__grid {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  justify-content: center;
  align-items: center;
  height: 75dvh;
  overflow-y: auto;
}

.book-list__grid::-webkit-scrollbar {
  width: 10px;
}

.book-list__grid::-webkit-scrollbar-track {
  background: var(--terciary-color);
  border-radius: 5px;
}

.book-list__grid::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  border-radius: 10px;
  border: 2px solid var(--terciary-color);
}

.book-list__grid::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-color);
}

.book-list__empty {
  font-size: 1.2rem;
  color: var(--accent-color);
  text-align: center;
  margin-top: 4rem;
}

@media (max-width: 500px) {
  .book-list__grid {
    grid-template-columns: repeat(1, 1fr);
  }
}